@font-face {
    font-family: "stratum";
    src: url("/src/fonts/stratumno1-regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.profile-setup-tile {
    width: 300px;
    height: 350px;
}

.profile-setup-tile svg {
    stroke: #424242;
    stroke-width: 0.6px;
}

.profile-setup-tile:hover svg {
    stroke: #fff;
}

.profile-setup-tile.active svg {
    stroke: #fff;
}

.build-profile-tile svg {
    width: 180px;
    height: 180px;
}

@media screen and (max-width: 480px) {
    .profile-setup-tile {
        width: 150px;
        height: 250px;
    }

    .profile-setup-tile svg {
        width: 60px;
        height: 60px;
        stroke-width: 0.6px;
    }
}

